[Unit]
Description=Run Clear Cache every 2 hours

[Timer]
OnBootSec=10min
OnUnitActiveSec=2h
Unit=clear-cache.service

[Install]
WantedBy=timers.target
